{% extends "base.html" %}
{% block content %}
<div class="card">

  <h2 class="title">🔐 Recuperar Senha</h2>

  {% if error %}
      <p class="error">{{ error }}</p>
  {% endif %}
  {% if success %}
      <p class="success">{{ success }}</p>
  {% endif %}

  <form method="POST">
    
    <input 
      type="email" 
      name="email" 
      placeholder="Digite seu e-mail"
      class="input"
      required
    >

    <button type="submit">Enviar Link de Recuperação</button>
  </form>

  <p class="small-link">
    Lembrou a senha?
    <a href="{{ url_for('login_page') }}">Fazer login</a>
  </p>

</div>
{% endblock %}
