{% extends "base.html" %}
{% block content %}
<div class="card">

  <h2 class="title">🔑 Nova Senha</h2>

  {% if error %}
      <p class="error">{{ error }}</p>
  {% endif %}

  <form method="POST">
    
    <input 
      type="password" 
      name="password" 
      placeholder="Nova senha"
      class="input"
      required
      minlength="6"
    >

    <input 
      type="password" 
      name="confirm_password" 
      placeholder="Confirme a nova senha"
      class="input"
      required
      minlength="6"
    >

    <button type="submit">Alterar Senha</button>
  </form>

  <p class="small-link">
    <a href="{{ url_for('login_page') }}">Voltar ao login</a>
  </p>

</div>
{% endblock %}
